<section>
    <div class="container">
        <form #loginForm="ngForm" (ngSubmit)="submitLogin(loginForm)">
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Email address</label>
              <input 
                type="email" 
                class="form-control" 
                id="exampleInputEmail1" 
                aria-describedby="emailHelp"
                name="userName"
                #userName="ngModel"
                [(ngModel)]="loginForm.userName"
                required
                pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
              >
                
              <div *ngIf="userName.touched && !userName.valid">
                  <p *ngIf="userName.errors.required" class="alert alert-danger" role="alert">This Field is required</p>
                  <p *ngIf="userName.errors.pattern" class="alert alert-danger" role="alert">This email is invalid</p>
              </div>
            </div>



            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Password</label>
              <input 
                type="password" 
                class="form-control" 
                id="exampleInputPassword1"
                name="userPass"
                #userPass="ngModel"
                [(ngModel)]="loginForm.userPass"
                required
              >

              <div *ngIf="userPass.touched && !userPass.valid">
                <p *ngIf="userPass.errors.required"  class="alert alert-danger" role="alert">This Field is required</p>
            </div>
            </div>
            <button type="submit" class="btn btn-primary" [disabled]="!loginForm.valid">Submit</button>
          </form>

    </div>
</section>
