nav{
    padding: 1rem 0;
    box-shadow: var(--box-shadow);
    .nav-item{
        font-size: 1.6rem;
        margin-right: 2rem;
    }
    .navbar-brand{
        font-size: 2rem;
        color: var(--main-color);
        font-weight: 600;
    }
    
}
.active-link{
    color: var(--main-color)!important;;
    font-weight: 600;
}