section{
    padding: 10rem 0 15rem;
    font-size: 1.6rem;
    min-height: 100%;
    input{
        height: 4rem;
        font-size: 1.6rem;
    }
    button{
        font-size:1.6rem;
        padding: 0.5rem 3rem;
    }
    .alert{
        font-size: 1.2rem;
        margin: 1rem 0;
    }
}